
 <form asp-action="AboutUser">
                    <div class="form-group">
                        <label class="form-label">Your Login</label>
                        <div class="col-11 m-1">
                            <input type="text" id="login" name="login"  class="form-text">
                        </div>
                    </div>
                    <br  />
                    <div class="form-group">
                        <input type="submit" id="submit" value="Find"class="btn btn-primary" />
                    </div>
                </form>